<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee/"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee/
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <distributable/>
    <listener>
        <listener-class>com.larinia.app.AppContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>SecondServlet</servlet-name>
        <servlet-class>com.larinia.app.SecondServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SecondServlet</servlet-name>
        <url-pattern>/SecondServlet</url-pattern>
    </servlet-mapping>

</web-app>